@model Social_Media_Project.Models.Account
@{
    ViewData["Title"] = "ForgottenPassword";
}

<div class="Center-Mobile">
    <div class="d-inline-flex justify-content-between align-items-center">
        <div>
            <div class="right-Mobile">
                <div class="right-Instagram">
                    Instagram
                </div>
                <div>
                    <form action="/" method="post">
                        <div class="right-userInfo">
                            <div class="userInfo-Username">
                                <input asp-for="Phone" placeholder="Mobile Number" class="input-UserInfo" />
                            </div>
                            <div class="userInfo-Password">
                                <input asp-for="Fullname" placeholder="Full Name" class="input-UserInfo" />
                            </div>
                            <div class="userInfo-Password">
                                <input asp-for="Username" placeholder="Username" class="input-UserInfo" />
                            </div>
                            <div class="userInfo-Password">
                                <input asp-for="DateOfBirth" placeholder="Date of Birth" class="input-UserInfo" />
                            </div>
                            <div class="userInfo-Password">
                                <input asp-for="Password" placeholder="New Password" class="input-UserInfo" type="password" />
                            </div>
                            <div class="userInfo-Password">
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="input-UserInfo" type="password" />
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="input-validate">
                                Reset your Password
                            </button>
                        </div>
                        <div>
                            <p class="text-center">Log in with Facebook</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center right-Mobile right-Instagram-Bottom">
                Have an account?<a href="@Url.Action("Index","Home")">Log in</a>
            </div>
        </div>

    </div>

</div>


