@model Social_Media_Project.Models.Account
@{
    ViewData["Title"] = "ForgottenPassword";
}



<div class="ForgetPassword-align">
    <div class="center-mobile">
        <div class="form-container">
            <div class="form-header">
                Forgotten Password
            </div>
            <form asp-controller="Account" asp-action="ForgottenPassword" method="post">
                <div class="form-group">
                    <input asp-for="Phone" id="Phone" class="form-control" placeholder="Mobile Number" required>
                </div>
                <div class="form-group">
                    <input asp-for="Fullname" id="Fullname" class="form-control" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <input asp-for="Username" id="Username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input asp-for="DateOfBirth" id="DateOfBirth" class="form-control" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <input asp-for="Password" id="Password" class="form-control" type="password" placeholder="New Password" required>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-submit">
                        Reset your Password
                    </button>
                </div>
            </form>
            <div class="form-link">
                <a href="@Url.Action("ForgottenPassword","Account")">Forgotten your password?</a>
            </div>
            <div class="signup-link">
                Have an account? <a href="@Url.Action("Index","Home")">Log in</a>
            </div>
        </div>
    </div>
</div>

