.ForgetPassword-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    font-size: 31px;
    font-weight: 400;
    font-family: cursive;
    text-align: center;
    margin: 20px 0;
}

.form-group {
    text-align: center;
    margin-bottom: 15px;
}

.form-control {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

    .form-control:focus {
        outline: none;
        border-color: #007bff;
    }

.btn-submit {
    background-color: #44bcf0;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

    .btn-submit:hover {
        background-color: #1f9cd6;
    }

.form-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

    .form-link a {
        color: #007bff;
        text-decoration: none;
    }

        .form-link a:hover {
            text-decoration: underline;
        }

.signup-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

    .signup-link a {
        color: #007bff;
        text-decoration: none;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }

.IndexSignUp {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-Mobile {
    margin-right: 10px;
}

.left-Mobile-img {
    height: 60vh;
    max-width: 100%;
    object-fit: cover;
}

.right-Mobile {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .right-Mobile .right-Instagram {
        font-size: 31px;
        font-weight: 400;
        font-family: cursive;
        text-align: center;
        margin: 20px 0;
    }

    .right-Mobile .right-userInfo {
        text-align: center;
    }

    .right-Mobile .input-UserInfo {
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease;
    }

        .right-Mobile .input-UserInfo:focus {
            outline: none;
            border-color: #007bff;
        }

    .right-Mobile .input-validate {
        background-color: #44bcf0;
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
    }

    .right-Mobile .input-validated {
        background-color: #f04040;
        color: white;
        margin: 10px 0px 0px 0px;
        text-align: center;
        text-decoration: none;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
    }

    .right-Mobile .input-validate:hover {
        background-color: #1f9cd6;
    }

    .right-Mobile .login-form-link {
        margin-top: 15px;
        font-size: 14px;
        text-align: center;
    }

        .right-Mobile .login-form-link a {
            color: #007bff;
            text-decoration: none;
        }

            .right-Mobile .login-form-link a:hover {
                text-decoration: underline;
            }

    .right-Mobile .forgot-password {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
    }

        .right-Mobile .forgot-password a {
            color: #007bff;
            text-decoration: none;
        }

            .right-Mobile .forgot-password a:hover {
                text-decoration: underline;
            }

    .right-Mobile .signup-link {
        display: block;
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
    }

        .right-Mobile .signup-link a {
            color: #007bff;
            text-decoration: none;
        }

            .right-Mobile .signup-link a:hover {
                text-decoration: underline;
            }

.submit-SignUpButton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.submit-SignUpButtonGoogle {
    display: flex;
    justify-content: center;
    align-content: center;
}

.fixAlign {
    margin: 0px;
}

..Center-Mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.signup-form {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.previewImageAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-LoginBio {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.Signup-MarginAlign {
    margin: 25px 0px;
}

.signup-form-title {
    font-size: 24px;
    font-weight: 400;
    font-family: cursive;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.signup-form-group label {
    font-weight: bold;
    display: block;
    margin: 5px 0px;
}

.signup-form-group input[type="text"],
.signup-form-group input[type="email"],
.signup-form-group input[type="password"],
.signup-form-group input[type="file"],
.signup-form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

    .signup-form-group input[type="text"]:focus,
    .signup-form-group input[type="email"]:focus,
    .signup-form-group input[type="password"]:focus,
    .signup-form-group input[type="file"]:focus,
    .signup-form-group textarea:focus {
        outline: none;
        border-color: #007bff;
    }

.signup-form-group button[type="submit"],
.signup-form-group button[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

    .signup-form-group button[type="submit"]:hover,
    .signup-form-group button[type="button"]:hover {
        background-color: #0056b3;
    }

.signup-form-social {
    text-align: center;
    margin-top: 20px;
}

    .signup-form-social p {
        margin: 10px 0;
    }

    .signup-form-social a {
        display: inline-block;
        background-color: #3b5998;
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        margin-right: 10px;
    }

        .signup-form-social a:last-child {
            margin-right: 0;
        }

.signup-form-bottom {
    text-align: center;
    margin-top: 20px;
}

    .signup-form-bottom a {
        color: #007bff;
        text-decoration: none;
    }

        .signup-form-bottom a:hover {
            text-decoration: underline;
        }

.signUp-LoginBio {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .signUp-LoginBio label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    .signUp-LoginBio input[type="file"],
    .signUp-LoginBio input[type="date"],
    .signUp-LoginBio textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .signUp-LoginBio button[type="submit"] {
        background-color: #1b92ce;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
    }

        .signUp-LoginBio button[type="submit"]:hover {
            background-color: #0f6cb2;
        }

    .signUp-LoginBio .preview-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        display: none;
    }

.login-form-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

    .login-form-link a {
        color: #007bff;
        text-decoration: none;
    }

        .login-form-link a:hover {
            text-decoration: underline;
        }


label.error {
    color: red;
}

.fix-AlignHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.add-post-container {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.add-post-form {
    display: flex;
    flex-direction: column;
}

    .add-post-form label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .add-post-form input[type="file"],
    .add-post-form textarea {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
    }

    .add-post-form button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .add-post-form button:hover {
            background-color: #0056b3;
        }

.bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

    .bottom-buttons a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        background-color: #007bff;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

        .bottom-buttons a:hover {
            background-color: #0056b3;
        }

        .bottom-buttons a.feed {
            background-color: #dc3545;
        }

        .bottom-buttons a.search {
            background-color: #17a2b8;
        }

        .bottom-buttons a.add-post {
            background-color: #ffc107;
        }

        .bottom-buttons a.home {
            background-color: #28a745;
        }

.UserAccountPage-ProfileSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.UserAccountPage-Data {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.userAccountPage-ProfileImg {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    padding: 2px;
    border-radius: 50%;
}

.profilePicStyle {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.profilePic-Align {
    display: flex;
    justify-content: center;
}

.fix-AlignHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.UserAccountPage-BioSection {
    border: 1px solid #ddd;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
}

.bioEdit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.childBioEdit {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

    .childBioEdit:hover {
        background-color: #0056b3;
    }

.homepage-PhotoSection {
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /*    justify-content: center;*/
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.PhotoSection-Child {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}

.PhotoSectionImg {
    width: 100%;
    height: 200px;
    display: block;
}

.PhotoSection-Child:hover .PhotoSectionImg {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.ProfileStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .ProfileStat > div {
        font-weight: bold;
        font-size: 1.2em;
    }

        .ProfileStat > div:first-child {
            color: #333;
        }

        .ProfileStat > div:last-child {
            color: #777;
            font-size: 0.9em;
        }


.forEach-AlignClass {
    height: auto;
    width: 32.2%;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

    .bottom-buttons a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        background-color: #007bff;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

        .bottom-buttons a:hover {
            background-color: #0056b3;
        }

        .bottom-buttons a.home {
            background-color: #28a745;
        }

        .bottom-buttons a.add-post {
            background-color: #ffc107;
        }

        .bottom-buttons a.search {
            background-color: #17a2b8;
        }

        .bottom-buttons a.feed {
            background-color: #dc3545;
        }

.signup-Margin {
    margin: 10px 0px;
}


/*CSS Design for the Search Page*/

.containerSearch {
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0.1, 0.1, 0.3);
    border-radius: 2px;
    padding: 50px;
}

.containerSearch-Panel {
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0.1, 0.1, 0.3);
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

    .search-bar input {
        width: 70%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px 0 0 4px;
        font-size: 16px;
    }

    .search-bar button {
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 0 4px 4px 0;
        background-color: #5a67d8;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

        .search-bar button:hover {
            background-color: #4c51bf;
        }

.search-results {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75%;
}

.profile-card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.profile-info {
    flex: 1;
}

    .profile-info h3 {
        margin: 0;
        color: #333;
    }

    .profile-info p {
        margin: 5px 0;
        color: #666;
    }

    .profile-info a {
        color: #5a67d8;
        text-decoration: none;
    }

        .profile-info a:hover {
            text-decoration: underline;
        }

.search-results-Align {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*feed CSS*/
.container-custom {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1);
}

.card-img-top {
    height: 400px;
    /* object-fit: cover; */
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.btn-outline-primary, .btn-outline-secondary {
    margin: 0.2rem;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.homeSetting {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1);
    /*padding: 10px;*/
    border-radius: 0.5rem;
    z-index: 1000;
}

/*uSERAccountPage CSS*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: underline;
    }

#homeSetting {
    position: absolute;
    homeSetting top: 85%;
    right: 0;
    z-index: 1000;
    background: white;
    border: 1px solid #ddd;
    display: none;
    width: 200px;
    top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    #homeSetting.d-none {
        display: none;
    }

    #homeSetting.show {
        display: block;
    }

.listData {
    padding: .5rem 1rem;
    border-radius: 4px;
    color: #212529;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, .125);
}

    .listData:hover {
        background-color: yellowgreen;
        color: white;
    }
